#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
            behaviors {
         td_Q_1: tap_dance_Q_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp Q>, <&kp N1>;
        };
        td_W_2: tap_dance_W_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp W>, <&kp N2>;
        };
        td_E_3: tap_dance_E_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp E>, <&kp N3>;
        };
        td_R_4: tap_dance_R_4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp R>, <&kp N4>;
        };
        td_T_5: tap_dance_T_5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp T>, <&kp N5>;
        };
        td_Y_6: tap_dance_Y_6 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp Y>, <&kp N6>;
        };
        td_U_7: tap_dance_U_7 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp U>, <&kp N7>;
        };
        td_I_8: tap_dance_I_8 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp I>, <&kp N8>;
        };
        td_O_9: tap_dance_O_9 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp O>, <&kp N9>;
        };
        td_P_0: tap_dance_P_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp P>, <&kp N0>;
        };
        td_V_CMD_C: tap_dance_V_CMD_C {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp V>, <&kp LG(C)>;
        };
        td_B_CMD_V: tap_dance_B_CMD_V {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp B>, <&kp LG(V)>;
        };
        td_G_CMD_S: tap_dance_G_CMD_S {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp G>, <&kp LG(S)>;
        };
        td_S_LEFT: tap_dance_S_LEFT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp S>, <&kp LEFT>;
        };
        td_F_RIGHT: tap_dance_F_RIGHT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp F>, <&kp RIGHT>;
        };
        td_D_UP: tap_dance_D_UP {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp D>, <&kp UP>;
        };
        td_C_DOWN: tap_dance_C_DOWN {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp C>, <&kp DOWN>;
        };
        td_J_LPAR: tap_dance_J_LPAR {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp J>, <&kp LPAR>;
        };
        td_K_RPAR: tap_dance_K_RPAR {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp K>, <&kp RPAR>;
        };
        td_N_LBKT: tap_dance_N_LBKT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp N>, <&kp LBKT>;
        };
        td_M_RBKT: tap_dance_M_RBKT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp M>, <&kp RBKT>;
        };
        td_COMMA_LBRC: tap_dance_COMMA_LBRC {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp COMMA>, <&kp LBRC>;
        };
        td_DOT_RBRC: tap_dance_DOT_RBRC {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp DOT>, <&kp RBRC>;
        };
        td_H_MINUS: tap_dance_H_MINUS {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp H>, <&kp MINUS>;
        };
        td_L_PLUS: tap_dance_L_PLUS {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp L>, <&kp PLUS>;
        };
        td_V_CTRL_C: tap_dance_V_CTRL_C {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp V>, <&kp LC(C)>;
        };
        td_B_CTRL_V: tap_dance_B_CTRL_V {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp B>, <&kp LC(V)>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {

                        bindings = <
   &kp TAB   &td_Q_1 &td_W_2 &td_E_3 &td_R_4 &td_T_5   &td_Y_6 &td_U_7  &td_I_8     &td_O_9   &td_P_0    &kp BSPC
   &caps_word &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &sk LALT &mo 1 &sk LCTRL  &sk LSHFT &kp SPACE &kp RET
                        >;
                };
                lower_layer {
                        bindings = <
   &kp ESC  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp EQUAL
   &none &none &kp LEFT &kp UP &kp RIGHT &kp LC(TAB)            &mo 2 &kp LPAR &kp RPAR &none &kp COLON &none
   &kp LSHFT  &kp LSHFT  &none  &kp DOWN  &kp LC(C)  &kp LC(V)   &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC  &none  &none
                           &kp LGUI  &none  &kp SPACE      &kp LSHFT  &kp BSPC   &kp RET
                        >;
                };

                raise_layer {
                        bindings = <
   &kp  TAB  &kp EXCL &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &kp PRCNT   &kp CARET &ext_power EP_TOG &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &none   &none &none   &none   &none      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &studio_unlock &none   &none &none   &none   &none      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &none   &kp SPACE   &kp RET   &none    &kp RALT
                        >;
                };
        };
};